{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve</title>
    
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" media="screen" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Pacifico" rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Playball" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-portfolio.css '%}">
    <link rel="stylesheet" href="{% static 'css/picto-foundry-food.css' %}" >
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
</head>
<body>
    <form action = 'reserve' method = "POST">
          {% csrf_token %}
          <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-6">
                            <!-- Name -->
                            <input type="text" name="name" id="name" required="required" class="form" placeholder="Name" />
                            <input type="email" name="email" id="email" required="required" class="form" placeholder="Email" />
                            <input type="text" name="phone" id="phone" required="required" class="form" placeholder="Phone" />
                           
                            <input type="number" name="guest" id="guest" required="required" class="form" placeholder="Number of Person" />
                            <input type="text" name="datepicker" id="datepicker" required="required" class="form" placeholder="Date" />
                            <input type="time" name="time" id="time" required="required" class="form" placeholder="Time" />
                        
                        
                            <button type="submit" id="submit" name="submit" class="text-center form-btn form-btn">Reserve</button> 
                        </div>
                        
                    </div>
                </div>
        
    </form>
</body>
</html>